header,
#content {
  max-width: 70vw;
  margin: 0 auto;
}

header {
  padding: 1.5rem;
  border-bottom: 1px solid silver;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav button {
  padding: 0.75em 2.5em;
  border: 1px solid silver;
  border-radius: 1em;
  background: whitesmoke;
  cursor: pointer;
}

nav button.active {
  border-color: black;
  font-weight: 700;
}
